@font-face {
    font-family: 'GeneralSans';
    src: url('font/GeneralSans-Variable.woff2') format('woff2'),
         url('font/GeneralSans-Variable.woff') format('woff'),
         url('font/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  





.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
    
    
}

body{
    margin: 0;
    padding: 0;
    height: 315vh;
    background: #111333;
    position: relative;
    color: white;
    font-family: 'GeneralSans';
    font-weight: 500;
    
}
:root{
    scroll-behavior: smooth;

}
h1,h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: min(13vw,20vh);
    letter-spacing: -0.5vw;
    line-height: .9;
    margin-bottom: 0;
}

main{
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 2vh 10vw;
    display: flex;
    flex-wrap: nowrap;

}
li{list-style: none;
    margin-left: 40px;}
a{text-decoration: none;
color: white;
font-weight: 300;}

main >*{
    margin-left: 8vw;
}

main p{
    margin-top:5vh;
    font-weight: 400;
}
.icone {
    margin-top: 3vh;
}

.projets{

    height: 115vh;
    position: absolute;
    top: 100vh;
    width: 100%;

}
.contact{
    position: absolute;
    top:215vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact >*{
    margin-left:8vw
}

header{position: absolute;
z-index: 10;}

.contact p{
    margin-top: 5vh;
    font-weight:400
}
.contact a{
    margin-top: 3vh;
}

.card{
    height: 70vh;
}
